.BtnTriage {
    position: absolute;
    margin: 5px;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: black;
    opacity: 0.5;
    color: white;
    border: none;
    border-radius: 50%;
    outline: none;
}